
.logo{
  display: block;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
  width: 200px;
  height: 400px;
}


body {
  background: #86109b;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}



.input-text {
  display: inline;
  margin-left: 10px;
  border: none;
  border-radius: 0.4rem;
  padding: 10px;
}

.list ul li button {
  position: absolute;
  right: 0%;
  background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.add-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  margin: 20px;
  padding: 8px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.app-title {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 50px;
  font-family: Courier;
  font-weight: 900;
}
h2{
  text-align: center;
  margin-top: -30px;
  font-family: Comic;
  font-weight: 500;
}
ul {
 
  margin: 0px;
  padding: 0px;
}
.list ul li {
  display: block;
  width: 80%;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  padding: 10px;
  position: relative;
}

.container {
  color: #fff;
  margin: auto;
}

