
.logo{
  display: block;
  margin-left: 130px;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
  width: 200px;
  height: 400px;
}


body {
  background: #0575E6;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-image: linear-gradient( #021B79,#0575E6);
  background-repeat: no-repeat;
}



.input-text {
  display: inline;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 0.4rem;
  padding: 7px;
}

.list ul li button {
  position: absolute;
  right: 0%;
  background: #f34541;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.add-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  margin: 20px;
  padding: 8px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

.app-title {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-size: 50px;
  font-family: Courier;
  font-weight: 900;
}
h2{
  text-align: center;
  margin-top: -50px;
  font-family: Comic;
  font-weight: 500;
}
ul {
 
  margin: 0px;
  padding: 0px;
}
.list ul li {
  display: block;
  width: 90%;
  text-decoration: none;
  text-align: left;
  color: #000000;
  margin-left: 20px;
  background-color: #ffffff;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  padding: 10px;
  position: relative;
}

.container {
  color: #fff;
  margin: auto;
  width: px;
}

.App{
  width:3500px;
  height: auto;
  margin-right:80px;
  margin-top: 40px;
  text-align: center;
  background: red;
  height: 600px;
  overflow-y: auto;
  color:black;
  border:10 solid #000000;
  border-radius: 10px;
  background-image: linear-gradient(#dd1818, #333333);
}
.Todo{
  width:350px;
  height: auto;
  margin-top:40px;
  margin-left: 80px;
  text-align: center;
  background: rgb(0, 0, 158);
  height: 600px;
  overflow-y: auto;
  color:black;
  border:10 solid #000000;
  border-radius: 10px;
  background-image: linear-gradient(#dd1818, #333333);
}